form ul.vkNgineForm {
	background: -moz-linear-gradient(90deg, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
	border: 1px solid #AAAAAA;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 15px #AAAAAA;
    margin: 0 auto 0;
    padding: 20px;
    width: 600px;
}
form ul.ajax-enabled {
    width: 350px;
}
form ul.ajax-enabled-medium-width {
    width: 400px;
}
form ul.ajax-enabled-full-width { 
	width: 800px;
	float:left;
}
p label.vkNgineLabel-short { width:175px;}
Label {
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 5px;
    width: 200px;
}

form ul.ajax-enabled label{
    width: 150px;
}

select{
	cursor:pointer;
	xpadding:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
}
select:active,
select:focus{
	border:1px solid #093c75;
	-moz-box-shadow:0 0 3px #0459b7;
	-webkit-box-shadow:0 0 3px #0459b7;
	outline:none;
}
input[type="text"], input[type="password"] {
    background: -moz-linear-gradient(90deg, #FFFFFF, #EEEEEE) repeat scroll 0 0 transparent;
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px #AAAAAA;
    padding: 5px;
}
input[type="text"]:focus, input[type="password"]:focus {
    border-color: #093C75;
    box-shadow: 0 0 3px #0459B7;
    outline: medium none;
}
input[type="submit"], a.submit {
    background: -moz-linear-gradient(90deg, #0459B7, #08ADFF) repeat scroll 0 0 transparent;
    border: 1px solid #093C75;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 120px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 1px #333333;
}
input[type="submit"]:hover, a.submit:hover {
    background: -moz-linear-gradient(90deg, #067CD3, #0BCDFF) repeat scroll 0 0 transparent;
    border-color: #093C75;
    text-decoration: none;
}
input[type="submit"]:active, input[type="submit"]:focus, a.submit:active, a.submit:focus {
    background: -moz-linear-gradient(90deg, #0BCDFF, #067CD3) repeat scroll 0 0 transparent;
    border-color: #093C75;
    outline: medium none;
}
input[type=submit]:active,
input[type=submit]:focus,
a.submit:active,
a.submit:focus{
	background:#ccc;
	background:-moz-linear-gradient(90deg, #0bcdff, #067cd3);
	background:-webkit-gradient(linear, left top, left bottom, from(#067cd3), to(#0bcdff));
	border-color:#093c75;
	outline:none;
}



	/* General */

.column-fixed .form-container {
	margin:0 1em 1em 0;
}

.form-container {
	background:#f8f8f8!important;
	margin:0;
}

form ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:100%;
}
form li{
	display:block;
	margin:0;
	padding:6px 0 9px;
	clear:both;
}
form li:after, form li div:after{
	content:"."; 
	display:block;
	height:0; 
	clear:both; 
	visibility:hidden;
}
* html form li{height: 1%;}
* html form li div{display:inline-block;}
*+html form li div{display:inline-block;}

form li div, form li span{
	margin:0 .3em 0 0;
	padding:0;
	color:#444;
}
form li span{
	float:left;
}

	/* Inputs */

input.text, input.file, textarea.textarea, select.select {
	color:#333;
	margin:0;
	padding:4px;
}
input.text, textarea.textarea{
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
}

input.checkbox, input.radio{
	display:block;
	xmargin:0 0 0 0;
	xpadding:0;
	width:13px;
	height:13px;
}
input.other{
	margin:0 0 8px 25px;
}

.safari select.select{
	font-size:120% !important;
	margin:0 0 1px 0;
}
* html select.select{
	margin:1px 0;
}
*+html select.select{
	margin:1px 0;
	border:1px solid red;
}

	/* Size */

input.small, select.small{
	width:25%;
}

input.medium, select.medium{
	width:50%;
}

input.large, select.large, textarea.textarea {
	width:70%;
}

input.full, select.full, textarea.full {
	width:99%;
}

textarea.small{
	height:5.5em;
}

textarea.medium{
	height:10em;
}

textarea.large{
	height:20em;
}

	/* Buttons */

input.btTxt{
	padding:0 7px;
	width:auto;
	overflow:visible;
}
form li.buttons {
	clear:both;
	padding-top:10px;
}

form li.buttons div {
	margin:0;
}

	/* Labels */

form li div label, form li span label{
	margin:0;
	padding-top:6px;
	clear:both;
	font-size:85%;
	line-height:100%;
	color:#444;
	display:block;
}
form li div span label{
	padding-bottom:12px;
}
label.desc{
	font-size:95%;
	font-weight:bold;
	color:#222;
	line-height:150%;
	margin:0;
	padding:0 0 3px 0;
	border:none;
	display:block;
}
label.choice{
	display:block;
	font-size:100%;
	line-height:150%;
	margin:-15px 0 0 23px;
	padding:0 0 5px 0;
	color:#222;
	width:88%;
}

label.prepend{
	display:block;
	font-size:100%;
	xline-height:150%;
	margin:-15px 0 0 0;
	padding:12px 0 5px 0;
	color:#222;
	font-weight:bold;
	
}


	/* Required */

form span {
	position:relative;
}

form span.req{
	display:inline;
	float:none;
	color:red !important;
	font-weight:bold;
}

	/* Validation */

form input.error {
	background-color:#f9e5e6;
	border-color:#b50007;
}

form label.error {
	font-weight:bold;
	color:#b50007;
	padding:5px 0 0;
}

form .gray {
	opacity:0.7;
}